#nomeLogo{
    margin: 0 auto; 
    font-size: large;
    color: white;
}

.d-inline-block{
    margin-left: 20px;
}
.nav header {
    height: 5%;
    width: 10%;
}
.navbar-toggler {
    display: flex;
}
.container-fluid{
  background-color: #88B06A;
  border-radius: 8px;
}
.container-fluid.px-5.my-5{
    background-color: #88B06A;
    box-shadow:  3px 10px;
    border-radius: 15px;
    
}
.navbar.navbar-expand-lg.bg-body-tertiary{
    padding-top: 0px;
}

#logo img {
    width: 60px; 
    height: 60px;     
  }

  .map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:50%;
    width:50%;
    position:absolute;
  }

#testoMappa{
    display: flex;
    justify-content: center;
}

.map-container-google-1 {
    display: flex;
    justify-content: center;
  }

  .testo {
    border: 2px solid black; 
    padding: 20px; 
    background-color: #88B06A; 
    border-radius:15px;
    box-shadow: 3px 7px;
  }

  .animate__animated.animate__backInDown{
    animation-duration: 2s;
    background-color: #88B06A;
    box-shadow:  3px 10px;
    border-radius: 15px;
  }


  
  
